<section id="actuality" class="actuality">
    <div class="container">
        <h2 class="title-h2" data-i18n="main.actuality.h2"></h2>
        <ul class="actuality__list">
            <li class="actuality__list__item">
                <a href="#" class="actuality__list__item-link">
                    <div class="picto facilotab banner">
                        <p class="banner__elmnt">Offre privilège</p>
                    </div>
                    <div class="txt">
                        <span class="title" aria-label="Offre privilège. Facilotab. Transformer votre tablette Android en tablette simplifiée">Facilotab</span>
                        <span class="desc" aria-hidden="true">Transformer votre tablette Android en tablette simplifiée</span>
                    </div>
                </a>
            </li>
            <li class="actuality__list__item">
                <a href="#" class="actuality__list__item-link">
                    <div class="picto ecrire"></div>
                    <div class="txt">
                        <span class="title" aria-label="Écrire en couleurs. Aider les enfants ayant des difficultés de lecture et d’écriture">Écrire en couleurs</span>
                        <span class="desc" aria-hidden="true">Aider les enfants ayant des difficultés de lecture et d’écriture</span>
                    </div>
                </a>
            </li>
            <li class="actuality__list__item">
                <a href="#" class="actuality__list__item-link">
                    <div class="picto ellcie banner">
                        <p class="banner__elmnt">Un clip solaire offert</p>
                    </div>
                    <div class="txt">
                        <span class="title" aria-label="Un clip solaire offert. Ellcie Healthy. Les lunettes intelligentes qui prennent soin de vous">Ellcie Healthy</span>
                        <span class="desc" aria-hidden="true">Les lunettes intelligentes qui prennent soin de vous</span>
                    </div>
                </a>
            </li>
            <li class="actuality__list__item">
                <a href="#" class="actuality__list__item-link handieasy">
                    <div class="picto handieasy"></div>
                    <div class="txt">
                        <span class="title" aria-label="Handieasy. Bras de support pour objets connectés">Handieasy</span>
                        <span class="desc" aria-hidden="true">Bras de support pour objets connectés</span>
                    </div>
                </a>
            </li>
            <li class="actuality__list__item">
                <a href="#" class="actuality__list__item-link">
                    <div class="picto famileo banner">
                        <p class="banner__elmnt">1 mois offert</p>
                    </div>
                    <div class="txt">
                        <span class="title" aria-label="1 mois offert. Famileo. Le journal familial qui fait le bonheur des grands-parents">Famileo</span>
                        <span class="desc" aria-hidden="true">Le journal familial qui fait le bonheur des grands‑parents</span>
                    </div>
                </a>
            </li>
            <li class="actuality__list__item">
                <a href="#" class="actuality__list__item-link handicap">
                    <div class="picto handicapzero"></div>
                    <div class="txt">
                        <span class="title" aria-label="HandiCapZéro. Partenaire Orange pour la réalisation des factures en braille et larges caractères et la formation du SmartVision 2">HandiCapZéro</span>
                        <span class="desc" aria-hidden="true">Partenaire Orange pour la réalisation des factures en braille et&nbsp;larges caractères et la formation du SmartVision 2</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>