<section id="contact" class="contact">
    <div class="container">
        <h2 class="title-h2" data-i18n="main.contact.h2"></h2>
        <div class="content">
            <div class="content__left">
                <h3 class="contact-h3" data-i18n="main.contact.left.headingBoutique"></h3>
                <p class="contact-desc" data-i18n="main.contact.left.descBoutique"></p>
                <a href="https://agence.orange.fr/" target="_blank" rel="noreferrer" class="linkBoutique" aria-label="Trouvez une boutique - nouvel onglet">
                    <img src="../assets/images/search-black.svg" alt="" class="icon normal">
                    <img src="../assets/images/search-white.svg" alt="" class="icon hover">
                    <span class="text">Trouvez une boutique</span>
                </a>
                <h3 class="contact-h3" data-i18n="main.contact.left.headingEspace"></h3>
                <p class="contact-desc" data-i18n="main.contact.left.descEspace"></p>
                <ul class="espaceList">
                    <li class="espaceList__item">
                        <a class="espaceList__item__link"
                           target="_blank"
                           rel="noreferrer"
                           data-i18n="main.contact.espaceList.link-1.txt main.contact.espaceList.link-1.url main.contact.espaceList.link-1.label"
                           data-i18n-attr="innerHTML href aria-label"></a>
                    </li>
                    <li class="espaceList__item">
                        <a class="espaceList__item__link"
                           target="_blank"
                           rel="noreferrer"
                           data-i18n="main.contact.espaceList.link-2.txt main.contact.espaceList.link-2.url main.contact.espaceList.link-2.label"
                           data-i18n-attr="innerHTML href aria-label"></a>
                    </li>
                    <li class="espaceList__item">
                        <a class="espaceList__item__link"
                           target="_blank"
                           rel="noreferrer"
                           data-i18n="main.contact.espaceList.link-3.txt main.contact.espaceList.link-3.url main.contact.espaceList.link-3.label"
                           data-i18n-attr="innerHTML href aria-label"></a>
                    </li>
                    <li class="espaceList__item">
                        <a class="espaceList__item__link"
                           target="_blank"
                           rel="noreferrer"
                           data-i18n="main.contact.espaceList.link-4.txt main.contact.espaceList.link-4.url main.contact.espaceList.link-4.label"
                           data-i18n-attr="innerHTML href aria-label"></a>
                    </li>
                </ul>
            </div>


            <div class="content__right">
                <h3 class="contact-h3" data-i18n="main.contact.right.headingTel"></h3>
                <p class="contact-desc" data-i18n="main.contact.right.descTel"></p>
                <ul class="contactList">
                    <li class="contactList__itemNumber">
                        <a href="telto:0800112233" class="contactList__item__link" aria-label="Veuillez nous contacter sur 0 800 112 233 - service et appel gratuits">
                            <img src="../assets/images/telephone.png" alt="0 800 112 233 , service et appel gratuits" class="telephone">
                        </a>
                    </li>
                    <li class="contactList__itemInternet">
                        <a href="https://publi.boutique.orange.fr/informations/accessibilite-autonomie/" target="_blank" rel="noreferrer" aria-label="Par Internet, orange.fr > boutique Orange > Solutions pour l’autonomie. Nouvel onglet">
                            <div class="icon"></div>
                            <div class="txt">
                                <span class="contact-h3" aria-hidden="true">Par Internet</span>
                                <span class="intDesc" aria-hidden="true">orange.fr > boutique Orange&nbsp;><br>Solutions&nbsp;pour l’autonomie</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <p class="contact-desc contact-descBlack">Et pour les personnes sourdes, malentendantes ou qui ont des difficultés de la parole, en langue des signes française (LSF), langue parlé complété (LPC), textes en temps réel et texte-braille.</p>

                <a href="https://autonomie.orange.fr/#/home" target="_blank" rel="noreferrer" aria-label="Mon contact Autonomie, nouvel onglet" class="linkAutonomie">
                    Mon contact Autonomie
                </a>

                <div class="facture">
                    <a href="https://assistance.orange.fr/assistance-commerciale/la-facture-le-suivi-conso/parametrer-la-facture/facture-recevoir-votre-facture-en-version-braille-ou-en-caracteres-agrandis_42001-40896" target="_blank" rel="noreferrer" class="facture__link">
                        <span class="facture__link__heading">La facture en braille</span>
                        <span class="facture__link__desc">Sur demande à votre service clients Autonomie, vous recevrez gratuitement une facture en braille ou en larges caractères disponible pour les contrats mobile, Sosh, internet, Open et fixe.</span>
                        <span class="facture__link__desc">Cette prestation est réalisée par notre partenaire HandiCapZéro</span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>
