<section class="edito">
    <div class="container">

        <h2 class="title-h2" data-i18n="main.edito.h2"></h2>
        <p class="edito-desc" data-i18n="main.edito.desc-1"></p>
        <p class="edito-desc" data-i18n="main.edito.desc-2"></p>
        <p class="edito-desc" data-i18n="main.edito.desc-3"></p>
        <p class="edito-desc" data-i18n="main.edito.desc-4"></p>

        <div class="pictogram">
            <p class="pictogramDesc" data-i18n="main.edito.pictogramDesc-1"></p>

            <ul class="pictogramList">
                <li class="pictogramList__item">
                    <img src="./assets/images/audio-icon.png" alt="" class="pictogramList__item-img">
                    Difficultés ou impossibilité d’entendre.
                </li>
                <li class="pictogramList__item">
                    <img src="./assets/images/lip-icon.png" alt="" class="pictogramList__item-img">
                    Difficultés ou impossibilité de parler.
                </li>
                <li class="pictogramList__item">
                    <img src="./assets/images/prehension-icon.png" alt="" class="pictogramList__item-img">
                    Difficultés ou impossibilité de manipuler des objets avec vos mains.
                </li>
                <li class="pictogramList__item">
                    <img src="./assets/images/vision-icon.png" alt="" class="pictogramList__item-img">
                    Difficultés ou impossibilité de voir.
                </li>
                <li class="pictogramList__item">
                    <img src="./assets/images/senior-icon.png" alt="" class="pictogramList__item-img">
                    Vous êtes une personne senior.
                </li>
            </ul>

            <p class="pictogramDesc" data-i18n="main.edito.pictogramDesc-2"></p>
            <p class="pictogramDesc" data-i18n="main.edito.pictogramDesc-3"></p>
            <p class="pictogramDesc" data-i18n="main.edito.pictogramDesc-4"></p>
            <img src="./assets/images/falc-icon.png" alt="" class="falc-icon">
            <p class="pictogramDesc" data-i18n="main.edito.pictogramDesc-5"></p>
            <p>Ce document accessible à tous a été transcrit par Com’access avec la méthode du Facile à Lire et à Comprendre (FALC) Pour en savoir plus sur le FALC vous pouvez aller sur le site&nbsp;: <strong><a href="https://www.inclusion-europe.eu/easy-to-read/" target="_blank" rel="noreferrer">www.inclusion-europe.eu/easy-to-read</a></p>
            <p>© Logo européen Facile à lire : Inclusion Europe</p>
        </div>

    </div>
</section>