<section class="edito">
    <div class="container">
        <h2 class="title-h2" data-i18n="main.edito.h2"></h2>
        <h3 class="edito-h3" data-i18n="main.edito.h3"></h3>
        <p class="edito-desc" data-i18n="main.edito.desc-1"></p>
        <p class="edito-desc" data-i18n="main.edito.desc-2"></p>
        <p class="edito-desc" data-i18n="main.edito.desc-3"></p>
        <p class="edito-desc" data-i18n="main.edito.desc-4"></p>

        <div class="pictogram">
            <p class="pictogramDesc" data-i18n="main.edito.pictogramDesc-1"></p>
            <ul class="pictogramList">
                <li class="pictogramList__item">
                    <img src="./assets/images/audio-icon.png" alt="" class="pictogramList__item-img">
                    Difficultés ou impossibilité d’entendre.
                </li>
                <li class="pictogramList__item">
                    <img src="./assets/images/lip-icon.png" alt="" class="pictogramList__item-img">
                    Difficultés ou impossibilité de parler.
                </li>
                <li class="pictogramList__item">
                    <img src="./assets/images/prehension-icon.png" alt="" class="pictogramList__item-img">
                    Difficultés ou impossibilité de manipuler des objets avec vos mains.
                </li>
                <li class="pictogramList__item">
                    <img src="./assets/images/vision-icon.png" alt="" class="pictogramList__item-img">
                    Difficultés ou impossibilité de voir.
                </li>
                <li class="pictogramList__item">
                    <img src="./assets/images/senior-icon.png" alt="" class="pictogramList__item-img">
                    Vous êtes une personne senior.
                </li>
            </ul>
            <p class="pictogramDesc" data-i18n="main.edito.pictogramDesc-2"></p>
            <p class="pictogramDesc" data-i18n="main.edito.pictogramDesc-3"></p>
            <img src="./assets/images/falc-icon.png" alt="" class="">
        </div>
    </div>
</section>