<section id="fixe" class="fixe section">
    <div class="container">
        <div class="bannerImg">
            <img src="./assets/images/cover-fixe-small.jpeg" alt="" class="mobile">
            <img src="./assets/images/cover-fixe-medium.jpeg" alt="" class="tablet">
            <img src="./assets/images/cover-fixe-large.jpeg" alt="" class="desktop">

            <div class="titleBlock">
                <h3 class="titleBlock__heading">Fixe</h3>
                <button type="button" id="accordion-button-3" aria-controls="accordion-content-3" class="titleBlock__btn accordion-button" aria-expanded="false" data-attr-id="sur les fixes" aria-label="Voir plus sur les fixes">
                    <span class="titleBlock__btn__txt accordion-button-txt" aria-hidden="true">Voir plus</span>
                    <span class="titleBlock__btn__icon">
                        <img src="./assets/images/arrow-down-white.svg" alt="" class="normal" aria-hidden="true">
                        <img src="./assets/images/arrow-down-black.svg" alt="" class="hover" aria-hidden="true">
                    </span>
                </button>
            </div>
        </div>

        <div id="accordion-content-3" class="accordion-content" aria-hidden="true">
            <ul class="accordion-content__list">
                <li class="accordion-content__list__item"><a href="#" class="accordion-content__list__item-link">De quoi avez-vous besoin pour votre fixe&nbsp;?</a></li>
                <li class="accordion-content__list__item"><a href="#" class="accordion-content__list__item-link">Quels services pouvez-vous choisir&nbsp;?</a></li>
                <li class="accordion-content__list__item"><a href="#" class="accordion-content__list__item-link">Vous avez des questions sur la téléphonie fixe&nbsp;?</a></li>
                <li class="accordion-content__list__item"><a href="#" class="accordion-content__list__item-link">Choisissez votre fixe selon vos besoins</a></li>
                <li class="accordion-content__list__item"><a href="#" class="accordion-content__list__item-link">Découvrez les forfaits Mon Optimale</a></li>
            </ul>
        </div>

    </div>
</section>