<section id="internet" class="internet section">
    <div class="container">
        <div class="bannerImg">
            <img src="./assets/images/cover-internet-small.jpeg" alt="" class="mobile">
            <img src="./assets/images/cover-internet-medium.jpeg" alt="" class="tablet">
            <img src="./assets/images/cover-internet-large.jpeg" alt="" class="desktop">

            <div class="titleBlock">
                <h3 class="titleBlock__heading">Internet et&nbsp;TV</h3>
                <button type="button" id="accordion-button-2" aria-controls="accordion-content-2" class="titleBlock__btn accordion-button" aria-expanded="false" data-attr-id="sur Internet et la télévision" aria-label="Voir plus sur Internet et la télévision">
                    <span class="titleBlock__btn__txt accordion-button-txt" aria-hidden="true">Voir plus</span>
                    <span class="titleBlock__btn__icon">
                        <img src="./assets/images/arrow-down-white.svg" alt="" class="normal" aria-hidden="true">
                        <img src="./assets/images/arrow-down-black.svg" alt="" class="hover" aria-hidden="true">
                    </span>
                </button>
            </div>
        </div>

        <div id="accordion-content-2" class="accordion-content" aria-hidden="true">
            <ul class="accordion-content__list">
                <li class="accordion-content__list__item"><a target-page="19" class="accordion-content__list__item-link">Quels services d’accompagnement pouvez-vous choisir&nbsp;?</a></li>
                <li class="accordion-content__list__item"><a target-page="21" class="accordion-content__list__item-link">Découvrez les équipements Internet Orange</a></li>
                <li class="accordion-content__list__item"><a target-page="22" class="accordion-content__list__item-link">Comment configurer les paramètres d’accessibilité de votre TV d'Orange&nbsp;?</a></li>
                <li class="accordion-content__list__item"><a target-page="23" class="accordion-content__list__item-link">Connectez votre tablette à Internet pour l'utiliser partout</a></li>
                <li class="accordion-content__list__item"><a target-page="24" class="accordion-content__list__item-link">Découvrez l’interface plus simple Facilotab pour votre tablette</a></li>
                <li class="accordion-content__list__item"><a target-page="25" class="accordion-content__list__item-link">Bénéficiez du Service 24h garanti internet</a></li>
                <li class="accordion-content__list__item"><a target-page="26" class="accordion-content__list__item-link">Qu’est-ce que l’application Orange et moi vous permet de faire&nbsp;?</a></li>
            </ul>
        </div>

    </div>
</section>