<section id="internet" class="internet section">
    <div class="container">
        <div class="bannerImg">
            <img src="./assets/images/cover-internet-small.jpeg" alt="" class="mobile">
            <img src="./assets/images/cover-internet-medium.jpeg" alt="" class="tablet">
            <img src="./assets/images/cover-internet-large.jpeg" alt="" class="desktop">

            <div class="titleBlock">
                <h3 class="titleBlock__heading">Internet et&nbsp;TV</h3>
                <button type="button" id="accordion-button-2" aria-controls="accordion-content-2" class="titleBlock__btn accordion-button" aria-expanded="false" data-attr-id="sur Internet et la télévision" aria-label="Voir plus sur Internet et la télévision">
                    <span class="titleBlock__btn__txt accordion-button-txt" aria-hidden="true">Voir plus</span>
                    <span class="titleBlock__btn__icon">
                        <img src="./assets/images/arrow-down-white.svg" alt="" class="normal" aria-hidden="true">
                        <img src="./assets/images/arrow-down-black.svg" alt="" class="hover" aria-hidden="true">
                    </span>
                </button>
            </div>
        </div>

        <div id="accordion-content-2" class="accordion-content" aria-hidden="true">

            <!-- equipments -->
            <h3 class="heading">Les équipements et les services d’accompagnement</h3>
            <div class="services-container">
                <div class="services-container__image">
                    <img src="./assets/images/equipments-sm-new.jpeg" alt="" class="image display-mobile">
                    <img src="./assets/images/equipments-md-new.jpeg" alt="" class="image display-tablet">
                    <img src="./assets/images/equipments-lg-new.jpeg" alt="" class="image display-desktop">
                </div>
                <div class="services-container__desc">
                    <ul class="desc-list">
                        <li class="desc-list__item">
                            <a target-page="19" class="desc-list__item__link">
                                <span class="link-title">Livebox et décodeur</span>
                                <span class="link-text">Pour un Wifi performant chez vous et la meilleure expérience TV d’Orange pour tous.</span>
                            </a>
                        </li>
                        <li class="desc-list__item">
                            <a target-page="17" class="desc-list__item__link">
                                <span class="link-title">Les services d'accompagnement internet et TV</span>
                            </a>
                        </li>
                        <li class="desc-list__item">
                            <a target-page="23" class="desc-list__item__link">
                                <span class="link-title">Service 24h garanti internet</span>
                                <span class="link-text">Toujours connecté en toute sérénité</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="services-container__discover">
                    <div class="services-container__discover__logo">
                        <img src="./assets/images/icon-application_orange.png" alt="">
                    </div>
                    <div class="services-container__discover__text">
                        <h4 class="heading">Application Orange et moi</h4>
                        <p class="desc">L’accès direct à votre espace client</p>
                        <a target-page="24" class="link" aria-label="Découvrir application Orange et moi">Découvrir</a>
                    </div>
                </div>
            </div>

            <!-- internet -->
            <h3 class="heading">Internet</h3>
            <div class="services-container">
                <div class="services-container__image">
                    <img src="./assets/images/new-internet-small.jpeg" alt="" class="image display-mobile">
                    <img src="./assets/images/new-internet-medium.jpeg" alt="" class="image display-tablet">
                    <img src="./assets/images/new-internet-large.jpeg" alt="" class="image display-desktop">
                </div>
                <div class="services-container__desc">
                    <ul class="desc-list">
                        <li class="desc-list__item">
                            <a target-page="17" class="desc-list__item__link">
                                <span class="link-title">Les offres internet</span>
                            </a>
                        </li>
                        <li class="desc-list__item">
                            <a target-page="21" class="desc-list__item__link">
                                <span class="link-title">Plus de confort avec ma tablette</span>
                                <span class="link-text">Internet partout en France comme en Europe</span>
                            </a>
                        </li>
                        <li class="desc-list__item">
                            <a target-page="18" class="desc-list__item__link">
                                <span class="link-title">Confort+</span>
                                <span class="link-text">Toujours connecté en toute sérénité</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="services-container__discover">
                    <div class="services-container__discover__logo">
                        <img src="./assets/images/icon-facilotab.png" alt="">
                    </div>
                    <div class="services-container__discover__text">
                        <h4 class="heading">Facilotab</h4>
                        <p class="desc">Idéal pour les seniors débutant sur&nbsp;tablette</p>
                        <a target-page="22" class="link" aria-label="Découvrir Facilotab">Découvrir</a>
                    </div>
                </div>
            </div>

            <!-- TV -->
            <h3 class="heading">La TV d’Orange</h3>
            <div class="services-container">
                <div class="services-container__image">
                    <img src="./assets/images/tv-orange-small.jpeg" alt="" class="image display-mobile">
                    <img src="./assets/images/tv-orange-medium.jpeg" alt="" class="image display-tablet">
                    <img src="./assets/images/tv-orange-large.jpeg" alt="" class="image display-desktop">
                </div>
                <div class="services-container__desc">
                    <ul class="desc-list">
                        <li class="desc-list__item">
                            <a target-page="20" class="desc-list__item__link">
                                <span class="link-title">Je configure les paramètres d'accessibilité</span>
                                <span class="link-text">Avec votre télécommande, vous paramétrez votre décodeur en fonction de vos besoins.</span>
                            </a>
                        </li>
                        <li class="desc-list__item">
                            <a href="#" class="desc-list__item__link">
                                <span class="link-title">Les bouquets de chaînes</span>
                                <span class="link-text">160 chaînes incluses, dont la TNT, les chaînes nationales et des chaînes thématiques.</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="services-container__discover">
                    <div class="services-container__discover__logo">
                        <img src="./assets/images/icon-application_orange.png" alt="">
                    </div>
                    <div class="services-container__discover__text">
                        <h4 class="heading">Application Orange et moi</h4>
                        <p class="desc">L’accès direct à votre espace client</p>
                        <a target-page="24" class="link" aria-label="Découvrir application Orange et moi">Découvrir</a>
                    </div>
                </div>
            </div>


            <div class="bottom-internet">
                <a href="#contact" class="internalLink">
                    <span class="internalLink__text">Nous contacter</span>
                    <img src="./assets/images/arrow-orange.svg" alt="" class="internalLink__icon">
                </a>
            </div>
        </div>

    </div>
</section>