<section id="mobile" class="mobile section">
    <div class="container">
        <h2 class="title-h2" data-i18n="main.mobile.h2"></h2>
        <div class="bannerImg">
            <img src="./assets/images/mobile-small.jpeg" alt="" class="mobile">
            <img src="./assets/images/mobile-medium.jpeg" alt="" class="tablet">
            <img src="./assets/images/mobile-large.jpeg" alt="" class="desktop">

            <div class="titleBlock">
                <h3 class="titleBlock__heading">Mobile</h3>
                <button type="button" id="accordion-button-1" aria-controls="accordion-content-1" class="titleBlock__btn accordion-button" aria-expanded="false" data-attr-id="sur les mobiles" aria-label="Voir plus sur les mobiles">
                    <span class="titleBlock__btn__txt accordion-button-txt" aria-hidden="true">Voir plus</span>
                    <span class="titleBlock__btn__icon">
                        <img src="./assets/images/arrow-down-white.svg" alt="" class="normal" aria-hidden="true">
                        <img src="./assets/images/arrow-down-black.svg" alt="" class="hover" aria-hidden="true">
                    </span>
                </button>
            </div>
        </div>

        <div id="accordion-content-1" class="accordion-content" aria-hidden="true">
            <div class="top-mobile">
                <div class="top-mobile__left">
                    <a target-page="5" class="cardLink" aria-label="Découvrir les fonctions d'accessibilité de mon mobile">
                        <div class="card" aria-hidden="true">
                            <img src="./assets/images/fonction-acc-large.jpeg" alt="" class="card__image display-desktop">
                            <img src="./assets/images/fonction-acc-medium.jpeg" alt="" class="card__image display-tablet">
                            <img src="./assets/images/fonction-acc-small.jpeg" alt="" class="card__image display-mobile">
                        </div>
                        <div class="text" aria-hidden="true">Les fonctions d'accessibilité de mon mobile</div>
                    </a>
                </div>

                <div class="top-mobile__right">
                    <ul class="rightlist">
                        <li class="rightlist__item">
                            <div class="photo" aria-hidden="true">
                                <img src="./assets/images/mob-adapte-large.jpeg" alt="" class="list-photo display-desktop">
                                <img src="./assets/images/mob-adapte-medium.jpeg" alt="" class="list-photo display-tablet">
                                <img src="./assets/images/mob-adapte-small.jpeg" alt="" class="list-photo display-mobile">
                            </div>
                            <span class="desc w-250">Choisir un mobile adapté à mes usages</span>
                            <a target-page="10" class="link" aria-label="Découvrir choisir un mobile adapté à mes usages">Découvrir</a>
                        </li>
                        <li class="rightlist__item">
                            <div class="photo" aria-hidden="true">
                                <img src="./assets/images/motamo-large.jpeg" alt="" class="list-photo display-desktop">
                                <img src="./assets/images/motamo-medium.jpeg" alt="" class="list-photo display-tablet">
                                <img src="./assets/images/motamo-small.jpeg" alt="" class="list-photo display-mobile">
                            </div>
                            <span class="desc">Le forfait Motamo Max</span>
                            <a target-page="6" class="link" aria-label="Découvrir le forfait Motamo Max">Découvrir</a>
                        </li>
                        <li class="rightlist__item">
                            <div class="photo" aria-hidden="true">
                                <img src="./assets/images/mobile-appli-large.jpeg" alt="" class="list-photo display-desktop">
                                <img src="./assets/images/mobile-appli-medium.jpeg" alt="" class="list-photo display-tablet">
                                <img src="./assets/images/mobile-appli-small.jpeg" alt="" class="list-photo display-mobile">
                            </div>
                            <span class="desc w-150">Les applis pour l'accessibilité</span>
                            <a target-page="16" class="link" aria-label="Découvrir les applis pour l'accessibilité">Découvrir</a>
                        </li>
                        <li class="rightlist__item">
                            <div class="photo" aria-hidden="true">
                                <img src="./assets/images/m-services-lg.jpeg" alt="" class="list-photo display-desktop">
                                <img src="./assets/images/m-services-md.jpeg" alt="" class="list-photo display-tablet">
                                <img src="./assets/images/m-services-sm.jpeg" alt="" class="list-photo display-mobile">
                            </div>
                            <span class="desc w-150">Les services d'accompagnement du mobile</span>
                            <a target-page="7" class="link" aria-label="Découvrir les services d'accompagnement du mobile">Découvrir</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom-mobile">
                <a href="#contact" class="internalLink">
                    <span class="internalLink__text">Nous contacter</span>
                    <img src="./assets/images/arrow-orange.svg" alt="" class="internalLink__icon">
                </a>
            </div>
        </div>

    </div>
</section>