<section id="objets" class="objets section">
    <div class="container">
        <div class="bannerImg">
            <img src="./assets/images/cover-objet-small.jpeg" alt="" class="mobile">
            <img src="./assets/images/cover-objet-medium.jpeg" alt="" class="tablet">
            <img src="./assets/images/cover-objet-large.jpeg" alt="" class="desktop">

            <div class="titleBlock objetBlock">
                <h3 class="titleBlock__heading">Objets connectés et Accessoires</h3>
                <button type="button" id="accordion-button-4" aria-controls="accordion-content-4" class="titleBlock__btn accordion-button" aria-expanded="false" data-attr-id="sur les objets connectés et accessoires" aria-label="Voir plus sur les objets connectés et accessoires">
                    <span class="titleBlock__btn__txt accordion-button-txt" aria-hidden="true">Voir plus</span>
                    <span class="titleBlock__btn__icon">
                        <img src="./assets/images/arrow-down-white.svg" alt="" class="normal" aria-hidden="true">
                        <img src="./assets/images/arrow-down-black.svg" alt="" class="hover" aria-hidden="true">
                    </span>
                </button>
            </div>
        </div>

        <div id="accordion-content-4" class="accordion-content" aria-hidden="true">
            <ul class="accordion-content__list">
                <li class="accordion-content__list__item"><a target-page="41" class="accordion-content__list__item-link">Découvrez notre sélection d’objets connectés</a></li>
            </ul>
        </div>

    </div>
</section>