<section id="objets" class="objets section">
    <div class="container">
        <div class="bannerImg">
            <img src="../../assets/images/cover-objet-small.jpeg" alt="" class="mobile">
            <img src="../../assets/images/cover-objet-medium.jpeg" alt="" class="tablet">
            <img src="../../assets/images/cover-objet-large.jpeg" alt="" class="desktop">

            <div class="titleBlock objetBlock">
                <h3 class="titleBlock__heading">Objets connectés et Accessoires</h3>
                <button type="button" id="accordion-button-4" aria-controls="accordion-content-4" class="titleBlock__btn accordion-button" aria-expanded="false" data-attr-id="sur les mobiles" aria-label="Voir plus sur les mobiles">
                    <span class="titleBlock__btn__txt accordion-button-txt" aria-hidden="true">Voir plus</span>
                    <span class="titleBlock__btn__icon">
                        <img src="../../assets/images/arrow-down-white.svg" alt="" class="normal" aria-hidden="true">
                        <img src="../../assets/images/arrow-down-black.svg" alt="" class="hover" aria-hidden="true">
                    </span>
                </button>
            </div>
        </div>

        <div id="accordion-content-4" class="accordion-content" aria-hidden="true">
            <div class="top-fixe">
                <ul class="rightlist">
                    <li class="rightlist__item">
                        <div class="photo" aria-hidden="true">
                            <img src="../../assets/images/montres-large.jpeg" alt="" class="list-photo display-desktop">
                            <img src="../../assets/images/montres-medium.jpeg" alt="" class="list-photo display-tablet">
                            <img src="../../assets/images/montres-small.jpeg" alt="" class="list-photo display-mobile">
                        </div>
                        <span class="desc">Montres et bracelets</span>
                        <a target-page="36" class="link" aria-label="Découvrir montres et bracelets">Découvrir</a>
                    </li>
                    <li class="rightlist__item">
                        <div class="photo" aria-hidden="true">
                            <img src="../../assets/images/audio-large-new.jpeg" alt="" class="list-photo display-desktop">
                            <img src="../../assets/images/audio-medium-new.jpeg" alt="" class="list-photo display-tablet">
                            <img src="../../assets/images/audio-small-new.jpeg" alt="" class="list-photo display-mobile">
                        </div>
                        <span class="desc">Audio</span>
                        <a target-page="36" class="link" aria-label="Découvrir audio">Découvrir</a>
                    </li>
                    <li class="rightlist__item">
                        <div class="photo" aria-hidden="true">
                            <img src="../../assets/images/lunettes-obj-lg.jpeg" alt="" class="list-photo display-desktop">
                            <img src="../../assets/images/lunettes-obj-md.jpeg" alt="" class="list-photo display-tablet">
                            <img src="../../assets/images/lunettes-obj-sm.jpeg" alt="" class="list-photo display-mobile">
                        </div>
                        <span class="desc">Lunettes connectées</span>
                        <a target-page="38" class="link" aria-label="Découvrir lunettes connectées">Découvrir</a>
                    </li>
                    <li class="rightlist__item">
                        <div class="photo" aria-hidden="true">
                            <img src="../../assets/images/bras-large.jpeg" alt="" class="list-photo display-desktop">
                            <img src="../../assets/images/bras-medium.jpeg" alt="" class="list-photo display-tablet">
                            <img src="../../assets/images/bras-small.jpeg" alt="" class="list-photo display-mobile">
                        </div>
                        <span class="desc">Bras et supports</span>
                        <a target-page="39" class="link" aria-label="Découvrir bras et supports">Découvrir</a>
                    </li>
                </ul>
            </div>
            <div class="bottom-fixe">
                <a href="#contact" class="internalLink">
                    <span class="internalLink__text">Nous contacter</span>
                    <img src="../../assets/images/arrow-orange.svg" alt="" class="internalLink__icon">
                </a>
            </div>
        </div>

    </div>
</section>