@use '../utilities' as *;
@use '../theme' as *;

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    width: 95%;
    padding: 0;
  }

  @media only screen and (min-width: 1366px) {
    width: 1300px;
  }
}
