@use '../utilities' as *;
@use '../theme' as *;

.container {
  width: 100%;
  padding: 0 20px;

  @media #{$ps-desktop} {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
  }
}
