<!-- FOOTER START -->
<footer class="footer" role="contentinfo" data-i18n="footer.label" data-i18n-attr="aria-label">
  <div class="footer__top"></div>

  <div class="footer__bottom">
    <div class="accessible">
      <img src="../assets/images/e-accessible.svg" alt="" class="accessible__icon">
      <p class="accessible__desc" data-i18n="footer.bottom.accessible"></p>
    </div>
    <a target="_blank" rel="noreferrer noopener"
       class="ps-link"
       data-i18n="footer.bottom.link.visible footer.bottom.link.url footer.bottom.link.label"
       data-i18n-attr="innerHTML href aria-label"></a>
  </div>
</footer>
<!-- FOOTER END -->
