<!-- FOOTER START -->
<footer class="footer" role="contentinfo" data-i18n="footer.label" data-i18n-attr="aria-label">
  <div class="footer__top">
    <div class="footer__top-left">
      <p class="socialTxt" data-i18n="footer.top.left.social"></p>
      <ul>
        <li>
          <a data-i18n="footer.top.facebook.url footer.top.facebook.label" data-i18n-attr="href aria-label" target="_blank" rel="noreferrer">
            <img src="./assets/images/fb-white.svg" alt="" class="fb normal">
            <img src="./assets/images/fb-black.svg" alt="" class="fb hover">
          </a>
        </li>
        <li>
          <a data-i18n="footer.top.twitter.url footer.top.twitter.label" data-i18n-attr="href aria-label" target="_blank" rel="noreferrer">
            <img src="./assets/images/twitter-white.svg" alt="" class="normal">
            <img src="./assets/images/twitter-black.svg" alt="" class="hover">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__top-right">
      <div class="help">
        <a data-i18n="footer.top.help.url footer.top.help.label" data-i18n-attr="href aria-label" target="_blank" rel="noreferrer">
          <img src="./assets/images/help.svg" alt="">
          <span class="txt">Aide et contact</span>
        </a>
      </div>
      <div class="forum">
        <a data-i18n="footer.top.forum.url footer.top.forum.label" data-i18n-attr="href aria-label" target="_blank" rel="noreferrer">
          <img src="./assets/images/forum.svg" alt="">
          <span class="txt">Forum d'entraide</span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="accessible">
      <img src="./assets/images/e-accessible.svg" alt="" class="accessible__icon">
      <p class="accessible__desc" data-i18n="footer.bottom.accessible"></p>
    </div>
    <a target="_blank" rel="noreferrer noopener"
       class="ps-link"
       data-i18n="footer.bottom.link.visible footer.bottom.link.url footer.bottom.link.label"
       data-i18n-attr="innerHTML href aria-label"></a>
  </div>
</footer>
<!-- FOOTER END -->
