@use '../theme' as *;
@use '../utilities' as *;

.contact {

  .container {
    background-color: $lightGray;
    padding: 30px 20px;
    margin-bottom: 30px;

    @media #{$ps-desktop} {
      padding: 50px;
      margin-bottom: 60px;
    }
    
    .content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 0;
      grid-row-gap: 15px;

      @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 35px;
        grid-row-gap: 0;
      }
      
      &__left {

        .linkBoutique {
          display: flex;
          align-items: center;
          border: 1px solid $black;
          width: fit-content;
          padding: 8px 15px;
          margin-bottom: 40px;

          &:hover, &:focus {
            background-color: $black;

            .normal {
              display: none;
            }

            .hover {
              display: block;
            }

            .text {
              color: $white;
            }
          }

          .icon {
            width: 24px;
            margin-right: 15px;
            transition: all 0.3s ease-in-out;
          }

          .hover {
            display: none;
          }

          .text {
            font-family: $fontBold;
            font-size: 16px;
            color: $black;
            padding-top: 5px;
          }
        }

        .espaceList {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
          grid-column-gap: 0;
          grid-row-gap: 15px;

          @media #{$ps-desktop} {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 15px;
          }

          &__item {

            &__link {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid $black;
              text-align: center;
              padding: 10px 0;
              font-size: 14px;
              color: $black;
              line-height: 22px;

              &:hover, &:focus {
                background-color: $black;
                color: $white;
              }

              &:focus, &:focus-within {
                outline: 2px solid $black;
              }
            }
          }
        }
      }
      
      &__right {

        .contactList {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: 2px solid $lighterGray;
          padding-bottom: 30px;
          margin-bottom: 20px;

          &__itemNumber {
            margin-bottom: 15px;
            width: 290px;

            @media only screen and (min-width: 768px) {
              width: 318px;
            }

            a {
              width: 100%;

              .telephone {
                width: 100%;
              }
            }
          }

          &__itemInternet {

            a {
              display: flex;
              align-items: flex-start;
              border: 1px solid $black;
              background-color: $white;
              width: fit-content;
              padding: 8px 15px;

              &:hover, &:focus {
                background-color: $black;

                .txt {
                  .contact-h3, .intDesc {
                    color: $white;
                  }
                }
              }

              .txt {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .contact-h3 {
                  color: $black;
                  font-size: 18px;
                  font-family: $fontBold;
                  margin-bottom: 7px;
                }

                .intDesc {
                  color: $gray;
                  font-size: 14px;
                  font-family: $primaryFont;
                }
              }
            }
          }
        }

        .contact-descBlack {
          color: $black;
          width: 100%;

          @media only screen and (min-width: 768px) {
            width: 93%;
          }
        }

        .linkAutonomie {
          color: $black;
          border: 1px solid $black;
          font-family: $fontBold;
          font-size: 16px;
          padding: 13px 15px 12px 15px;
          margin-bottom: 40px;
          line-height: 1.0;

          &:hover, &:focus {
            color: $white;
            background-color: $black;
          }

          &:focus, &:focus-within {
            outline: 2px solid $black;
          }
        }

        .facture {
          width: 100%;

          &__link {
            width: 100%;
            background-color: $white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 15px;
            border: 1px solid $white;

            @media only screen and (min-width: 768px) {
              padding: 10px 15px;
            }

            @media #{$ps-desktop} {
              padding: 20px 28px;
            }

            &:hover, &:focus {
              border: 1px solid $black;

              .facture__link__heading {
                text-decoration: underline $black;
              }
            }

            &__heading {
              color: $black;
              padding-bottom: 18px;
              text-decoration: underline $white;
              transition: all 0.3s ease-in-out;
            }

            &__desc {
              color: $gray;
              font-size: 14px;
              font-family: $primaryFont;
              line-height: 22px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}