@use '../theme' as *;
@use '../utilities' as *;

.footer {
  background-color: $black;
  color: $white;

  &__top {
    border-bottom: 1px solid #979797;

    @media #{$ps-desktop} {
      padding: 19px 70px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media only screen and (min-width: $ps-breakpoint-mobile + 1) {
      justify-content: center;
    }

    @media #{$ps-desktop} {
      padding: 19px 0;
    }

    .accessible {
      display: flex;
      align-items: center;
      margin-right: 8px;
      padding-right: 8px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 80%;
        width: 1px;
        background-color: $white;
      }

      &__icon {
        width: 24px;
        height: auto;
        margin-right: 5px;
      }

      &__desc {
        font-size: 0.875rem;
        line-height: 1.0;
      }
    }

    .ps-link {
      font-size: 0.875rem;
      line-height: 1.0;

      &:hover, &:focus {
        color: $primaryColor;
        text-decoration: underline $primaryColor;
      }

      &:focus, &:focus-within {
        outline: 2px solid $white;
      }
    }
  }
}
