@use '../theme' as *;
@use '../utilities' as *;

.header {
  position: relative;
  width: 100%;
  height: 225px;
  background-image: url("../images/cover-sm-new.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: center;
  margin-top: 40px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, $white, #999 50%, $black);
    opacity: 0.4;
  }

  @media only screen and (min-width: $ps-breakpoint-mobile + 1) {
    height: 400px;
    background-image: url("../images/cover-md-new.jpg");
    margin-top: 60px;
  }
  
  @media #{$ps-desktop} {
    height: 700px;
    background-image: url("../images/cover-lg-new.jpg");
    margin-top: 70px;
  }

  .container {
    position: absolute;
    z-index: 2;

    .headingOne {
      font-family: $fontBold;
      font-size: clamp(2.125rem, 6.5vw, 4.0625rem);
      margin-top: 50px;
      color: $black;
      width: fit-content;

      &:focus,&:focus-within {
        outline: 2px solid $black;
        outline-offset: 2px;
      }
    }

    .headingTwo {
      font-family: $fontBold;
      font-size: clamp(0.875rem, 2.45vw, 1.25rem);
      color: $black;
      position: relative;
      padding-bottom: 8px;
      margin-top: 6px;

      @media #{$ps-desktop} {
        margin-top: 8px;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: $primaryColor;
        width: 1.875rem;
        height: 0.375rem;
        bottom: 0;
        left: 0;
      }
    }
  }
}
