@use '../utilities' as *;

/*______________________________________________________________________
  ------------------------------ COLORS --------------------------------
  ______________________________________________________________________ */

/* Main Colors
----------------------------------*/
$primaryColor: #f16e00; // Change to your Primary Color
$secondaryColor: #0f8570; // Change to your Secondary Color
$black: #000000;
$white: #ffffff;
$gray: #555555;
$lightGray: #f4f4f4;
$lighterGray: #cccccc;

/* Neutral Colors
----------------------------------*/
$lightColor: #ffffff; // Change to your White Color
$darkColor: #1f1f1f; // Change to your Black Color

/* General Colors
----------------------------------*/
$bodyBackgroundColor: $lightColor;
$bodyTextColor: contrast($bodyBackgroundColor, $lightColor, $darkColor);

$navBackgroundColor: $lightColor;
$navTextColor: contrast($navBackgroundColor, $lightColor, $darkColor);

$headerBackgroundColor: fade(darken($darkColor, 100), 70%);
$headerTextColor: contrast($headerBackgroundColor, $lightColor, $darkColor);

$prefooterBackgroundColor: $primaryColor;
$prefooterTextColor: contrast($prefooterBackgroundColor, $lightColor, $darkColor);

$footerBackgroundColor: $darkColor;
$footerTextColor: contrast($footerBackgroundColor, $lightColor, $darkColor);
