@font-face {
  font-family: 'DFA-Regular';
  src: url('../fonts/AccessibleDfA-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DFA-Bold';
  src: url('../fonts/AccessibleDfA-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


$primaryFont: 'DFA-Regular', sans-serif;
$fontBold: 'DFA-Bold', sans-serif;
